<h1>About</h1>

<p>Pathfinder is a decision support system for assessment and management of the sustainability of legume agri-food chains.</p>
<p>It was developed within the project True (“TRansition paths to sUstainable legume based systems in Europe ”) co-funded by the Horizon 2020 Programme of the European Union.</p>
<p>Pathfinder is powered by DEXiWare, a web application built around DEXi, a computer program for multi-attribute decision making. DEXi is aimed at interactive development of qualitative multi-attribute decision models and the evaluation of options. With DEXiWare, these models are available to end-users online.</p>
<!--<p>For more information visit <a href="https://dexiware.ijs.si">https://dexiware.ijs.si</a> or contact us at dexiware@ijs.si</p>-->
<p>For more information contact us at <a href="mailto:dexiware@ijs.si">dexiware&#64;ijs.si</a></p>
<p>To view Pathfinder's terms of use and privacy policy click <a href="/true/assets/pdf/True_Terms_Conditions.pdf" target="_blank">here</a> and <a href="/true/assets/pdf/True_Privacy_Policy.pdf" target="_blank">here</a> respectively.</p>
<p>Version 1.0</p>

<div class="bottom">
    <h2></h2>
    <h3>DEXiWare</h3>
    <button (click)="close()">CLOSE</button>
</div>