@use "../../../../styles/variables";

span {
    display: block;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 4px solid variables.$color-dark;
    stroke: variables.$color-dark;
    margin:0 auto;
    fill: variables.$color-white;
    stroke: variables.$color-dark;
}

.low {
    background: variables.$color-ind-low;
}

.medium {
    background: variables.$color-ind-medium;
}

.high {
    background: variables.$color-ind-high;
}

.low-medium {
    background-image: linear-gradient(135deg, variables.$color-ind-low 25%, variables.$color-ind-medium 25%, variables.$color-ind-medium 50%, variables.$color-ind-low 50%, variables.$color-ind-low 75%, variables.$color-ind-medium 75%, variables.$color-ind-medium 100%);
    background-size: 20px 20px;
}

.medium-high {
    background-image: linear-gradient(135deg, variables.$color-ind-medium 25%, variables.$color-ind-high 25%, variables.$color-ind-high 50%, variables.$color-ind-medium 50%, variables.$color-ind-medium 75%, variables.$color-ind-high 75%, variables.$color-ind-high 100%);
    background-size: 20px 20px;
}

.low-medium-high {
    background-image: linear-gradient(135deg, variables.$color-ind-low 16.76%, variables.$color-ind-medium 33.33%, variables.$color-ind-high 50%, variables.$color-ind-low 50%, variables.$color-ind-low 66.67%, variables.$color-ind-medium 83.33%, variables.$color-ind-high 100%);
    background-size: 20px 20px;
}