@use "../../../styles/variables";

:host {
    display: block;
    width: 100%;
    text-align: center;
    min-height: calc(100% - 200px);
}

.analysisBody {
    margin-bottom: 40px;

    div {
        width: 1250px;
        margin: 0 auto;
    }
}


.loading:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 32px;
    height: 32px;
    z-index: 10;
    background-image: url(../../../assets/icons/loading.gif);
    background-position: 0, 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
}

.loading:after {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.6;
    z-index: 9;
}

.noResults {
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 86px;
    color: variables.$color-dark;
    letter-spacing: 0px;
    margin-top: 100px;
}