$color-white: #FFFFFF;
$color-very-light: #F7F7F7;
$color-light: #E4E4E4;
$color-medium: #BFBFBF;
$color-dark: #707070;

$color-econ: #BABA00;
$color-env: #4EC79A;
$color-soc: #7898D6;

$color-econ-light: #FCFBEB;
$color-env-light: #EBFAF5;
$color-soc-light: #EDF5FC;

$color-env3: #EBFAF5;
$color-soc3: #EDF5FC;

$color-ind-low: #F06266;
$color-ind-medium: #FFA74F;
$color-ind-medium-low: #FFA74F;
$color-ind-medium-high: #FFA74F;
$color-ind-high: #94C760;

$color-ind-low-light: #ED8C8F;
$color-ind-medium-light: #EBB27A;
$color-ind-medium-low-light: #EBB27A;
$color-ind-medium-high-light: #EBB27A;
$color-ind-high-light: #ADC495;

$color-ind-low-lightest: #F7E1E2;
$color-ind-medium-lightest: #FAE6D5;
$color-ind-high-lightest: #E2EBDA;

$color-ind-undefined: #808080;