:host {
    display:block;
    width:100%;
    height:100%;
}

#svg {
    display: block;
    margin: 0;
    max-width: 100%;
    transform: rotate(-90deg);
}

.svg-circle-bg {
    fill: #fff;
}

.svg-circle {
    fill: none;
}

.icon {
    stroke: none;
}