    <svg id="svg" [attr.width]="size" [attr.height]="size" viewPort="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <circle class="svg-circle-bg" [attr.r]="radius" [attr.cx]="center" [attr.cy]="center" [attr.stroke-width]="bgWidth"></circle>
      <circle class="svg-circle" [attr.r]="radius" [attr.cx]="center" [attr.cy]="center" [attr.stroke-dasharray]="dasharray" [attr.stroke-dashoffset]="offset" [attr.stroke-width]="strokeWidth"></circle>
    </svg>
    <svg-icon class="icon" [src]="icon" [svgStyle]="iconStyle"></svg-icon>