@use "../../../styles/variables";
@use "options";

ul {
    list-style-type: none;
    margin:0;
    padding:0;

    li {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
    }

    li+li {
        margin-left:7px;
    }

    .clickable {
        cursor: pointer;
        margin: 8px 5px 2px 5px;
        width: 16px;
        height: 16px;
    }

    .clicked {
        margin: 0px 0px 0px 0px;
        border: 5px solid variables.$color-dark;
        width: 21px;
        height: 21px;
    }
}