@use "../../styles/variables";

:host {
    min-height: calc(100% - 200px);
    display: block;
}

.contents {
    overflow: hidden;
    width: 1290px;
    margin: 0 auto;

    &:after {
        content: '';
        display: table;
        clear: both;
    }

    .menu {
        list-style-type: none;
        margin: 20px 0 0 0;
        overflow: hidden;

        &.paged {
            display: none;
        }

        li {
            float:left;
            width: 50%;
            font-size: 29px;
            line-height: 35px;
            font-weight: 500;
            letter-spacing: 2.9px;
            text-transform: uppercase;
            user-select: none;
            border-radius: 26px;
            font-family: Montserrat;
            font-style: normal;
            color: variables.$color-dark;
            height: 89px;
            opacity: 0.5;
            padding: 22px 0 0 30px;
            cursor: pointer;

            &.active {
                background-color: variables.$color-very-light;
                opacity: 1;
            }

            &:before {
                content: '';
                background-image: url(../../assets/icons/caret.svg);
                background-size: 24px 24px;
                background-position: 0 0;
                background-repeat: no-repeat;
                display: inline-block;
                width: 32px;
                height: 32px;
            }

            &.topdown:before {
                transform: rotate(180deg);
                width: 52px;
                background-position: 25px -2px;
            }

            &.bottomup:before {
                background-position: 0 10px;
                width: 52px;
            }
        }

        .bottomdown:before {
            content: '';
            background-image: url(../../assets/icons/caret.svg);
            background-position: 24px 23px;
            background-repeat: no-repeat;
            transform: rotate(90deg);
        }

        &:after {
            content: '';
            float: none;
            display: table;
        }
    }

    .export {
        list-style-type: none;
        margin-top: 20px;
        overflow: hidden;
        display: none;

        li {
            float: left;
            width: 50%;
            height: 30px;

            .exportLink {
                display: block;
                width: 160px;
                font-family: Montserrat;
                font-style: normal;
                color: variables.$color-dark;
                opacity: 0.5;
                background-image: url('../../assets/icons/rarrow.svg');
                background-position: 24px 3px;
                background-repeat: no-repeat;
                font-size: 14px;
                line-height: 18px;
                font-weight: 600;
                letter-spacing: 2.1px;
                text-transform: uppercase;
                padding: 3px 0 0 62px;
                user-select: none;
                cursor: pointer;
                margin: auto;
                height: 45px;
            }
        }

        &:after {
            content: '';
            float: none;
            display: table;
        }
    }

    .page {
        height: 1960px;
        margin: 0;
        padding: 0;
        overflow: hidden;

        h2 {
            font-family: Montserrat;
            font-style: normal;
            letter-spacing: 2.1px;
            color: variables.$color-dark;
            display: block;
            text-align: center;
            font-size: 42px;
            font-weight: 300;
        }
    }
    
    div ul {
        list-style-type: none;
    }

    div li+li {
        border-top: 2px solid variables.$color-light;
    }

    .loading:before {
        content: "";
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 32px;
        height: 32px;
        z-index: 10;
        background-image: url(../../assets/icons/loading.gif);
        background-position: 0, 0;
        background-size: 32px 32px;
        background-repeat: no-repeat;
        display: block;
        margin: auto;
    }

    .loading:after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #fff;
        opacity: 0.6;
        z-index: 9;
    }
}