@use "../../styles/variables";

:host {
    display: block;
    width: 100%;
    text-align: center;
    overflow: hidden;
    min-height: calc(100% - 200px);
}

true-breadcrumbs {
    margin-top: 20px;
}

.floated {
    float: left;
}

.venn-container {
    display: inline-block;
}

.venn-container:after {
    content: "";
    clear: both;
    display: table;
}

.venn {
    width: 440px;
    height: 500px;
    margin: 0 100px 0 100px;

    &.pillarModels {
        width: 800px;
        height: 400px;
    }
}

.button {
    float: left;
    width: 316px;
    height: 88px;
    background-color: variables.$color-very-light;
    background-image: url('../../assets/icons/rarrow.svg');
    background-position: 24px 23px;
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    letter-spacing: 2.1px;
    text-transform: uppercase;
    padding: 23px 0 0 62px;
    user-select: none;
    cursor: pointer;
    margin: 14px 0 0 0;
    border-radius: 15px;

    &.pillarModels {
        margin: 40px auto 30px auto;
    }

    em {
        font-family: Montserrat;
        font-style: normal;
        color: variables.$color-dark;
        display: block;
        height: 25px;
    }

    span {
        font-family: Montserrat;
        color: variables.$color-medium;
        display: block;
    }
}

.summary:before {
    content: "";
    position: absolute;
    z-index: -1;
    display: block;
    width: 1266px;
    height: 523px;
    border-bottom: 2px solid variables.$color-dark;
}


true-node-chains {
    margin: 0 auto;
    display: inline-block;
}

#topDownPicker:before {
    content: "";
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.6;
}

#topDownPicker {
    position: absolute;
    z-index: 100;
    background: variables.$color-light;
    border-radius: 15px;
    top: 140px;
    left: calc((100% - 709px)/2);
    width: 709px;
    height: 795px;
    box-shadow: 10px 10px 20px #00000029;

    .low {
        background: variables.$color-ind-low;
    }
    .medium {
        background: variables.$color-ind-medium;        
    }
    .high {
        background: variables.$color-ind-high;
    }

    ul {
        list-style-type: none;
        margin: 110px 140px 80px 140px;
        padding: 0;

        li {
            ul {
               margin: 60px 0 0 0; 

                li {
                    display: flex;
                    margin: 0 0 21px 0;
                    width: 420px;

                    &.selected div {
                        opacity: 1;
                    }

                    &.selected span {
                        opacity: 1;
                        font-weight: bold;
                    }

                    div {
                        width: 23px;
                        height: 23px;
                        border-radius: 50%;
                        margin: 8px 16px 0 0;
                    }

                    span {
                        width: 310px;
                        font-family: Montserrat;
                        font-style: normal;
                        font-size: 29px;
                        font-weight: 500;
                        color: variables.$color-dark;
                        letter-spacing: 2.9px;
                        text-transform: uppercase;
                        text-align: left;
                    }

                    true-binary-input {
                        margin-top: 6px;
                    }
                }
            }
        }
    }

    .modalLink {
        padding-left: 40px;
        font-family: Montserrat;
        font-style: normal;
        font-size: 14px;
        font-weight: 600;
        color: variables.$color-dark;
        letter-spacing: 2.1px;
        text-transform: uppercase;
        background: url(../../assets/icons/rarrow.svg);
        background-repeat: no-repeat;
        width: 250px;
        text-align: left;
        margin: 0 auto 23px auto;
        opacity: 0.15;
        cursor: pointer;

        &.active {
            opacity: 1;
        }
        &.back {
            background: url(../../assets/icons/larrow.svg);
            background-repeat: no-repeat;
            color: variables.$color-dark;
            opacity: 0.6;
        }
    }
}

.noResults {
    font-family: Montserrat;
    font-size: 70px;
    font-style: normal;
    font-weight: 300;
    line-height: 86px;
    color: variables.$color-dark;
    letter-spacing: 0px;
    margin-top: 100px;
}

.loading:before {
    content: "";
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 32px;
    height: 32px;
    z-index: 10;
    background-image: url(../../assets/icons/loading.gif);
    background-position: 0, 0;
    background-size: 32px 32px;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
}